.*.swp

CHANGELOG.html
README.html

*.o
*.a

config.*
install-sh
missing
mkinstalldirs
NEWS
README

autom4te.cache/
configure

config/compilers/custom.mak
config/config
config/modincludes.inc
config/system.mak

.buildlib_*
make.depend
make.include

testsuite/*_example
testsuite/*_regression

bin/
lib/est_mainline
lib/est_program_makefile
main/align
main/bcat
main/ch_lab
main/ch_track
main/ch_utt
main/ch_wave
main/design_filter
main/dp
main/fringe_client
main/na_play
main/na_record
main/ngram_build
main/ngram_test
main/ols
main/ols_test
main/pda
main/pitchmark
main/scfg_make
main/scfg_parse
main/scfg_test
main/scfg_train
main/sig2fv
main/sigfilter
main/siod
main/spectgen
main/tilt_analysis
main/tilt_synthesis
main/viterbi
main/wagon
main/wagon_test
main/wfst_build
main/wfst_run
main/wfst_train
main/xml_parser
